#calculator{ 
  border: 1px solid rgb(214, 210, 210);
  width: 180px;
  position: relative;
  top: 50%;
  left: 50%;
}
#input{ 
  width: 85%;
  margin: 10px;
  font-size: 20px;
}
.buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  height: 40px;
  width: 40px;
  margin: 3px;
}
